#titleDiv{
  width:400px;
  text-align: center;
}

.center{
  text-align: center;
}

.instructions {
    width:300px;
    display: inline-block;
}

.button {
  background-color: black; /* Green */
  border-style:solid;
  border: 1 px solid black;
  color: grey;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.spacer{
  padding-bottom: 100px;
}

.input
{
  border-radius: 2px;
  border: 1 px solid black;
}
