#titleDiv{
  width:400px;
  text-align: center;
}

.center{
  text-align: center;
}

.instructions {
  margin : auto;       /* block alignment center */
  width:30%;
}

.image {
  width:15%;
  height:5%
}

.button {
  background-color: black; /* Green */
  border-style:solid;
  border: 1 px solid black;
  color: grey;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
}

.spacer{
  padding-bottom: 100px;
}

.spacerSmall{
  padding-bottom: 30px;
}

.input
{
  border-radius: 2px;
  border: 1 px solid black;
}
